/* CSS for Portfolio page */


.card {
  position: relative;
  transition: 1s;
}

.image {
  opacity: 1;
  transition: 0.5s ease;
  /* width: 100%;
  height: auto; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 01rem;
  top: 2rem;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

.card:hover .image {
  opacity: 0.1;
}

.card:hover .overlay {
  opacity: 1;
}

.heading {
  font-weight: 400;
  text-align: center;
}

.logo {
 height: 40px;
}

.logo:hover {
  height: 50px;
  transition: 1s;
}

.projectLink {
  color: black;
  text-decoration: none;
  
}

.projectLink:hover {
  text-decoration: underline;
  transition: 1s;
  color: black;
}
