.error {
  margin: 2rem auto;
  padding: 1rem;
  background-color: white;
  text-align: center;
  max-width: 40%;
  color: black;
  font-size: large;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #ced4da;
}
