/* CSS for App.js */

:root {
  box-sizing: border-box;
  transition: 0.5;
}

body {
  background-image: url("./assets/image/whitewall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.pageContainer {
  width: 85%;
  margin: auto;
  min-width: 100;
  padding: 2rem 0rem;
  min-height: 70vh;
}
